.task-counter {
    border: 1px solid #e5e7eb;
    transition: 0.3s;
    background-color: #fff;
    color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-counter:hover,
.task-counter:active {
    border-start-start-radius: 0px;
    background-color: #1d4ed8;
    color: #fff;
}

.task-counter-icon {
    height: 80px;
    width: 80px;
}

.task-general {
    border-radius: 40px;
}