.clickable-icon {
    background-color: #3b82f6;
    transition: 0.3s;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.clickable-icon:hover,
.clickable-icon:active {
    background-color: #1d4ed8;
}