.mask {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    width: calc(100% - 64px);
    position: relative;
    box-sizing: border-box;
    animation: sliding 1s forwards;
    left: 100vw;
}

@keyframes sliding {
    100% {
        left: 0;
    }
}

@media (min-width: 1024px) {
    .overlay {
        width: 584px;
    }
}

.fixed-h-overlay {
    height: calc(100% - 160px);
}

.fixed-h-edit-task-overlay {
    height: calc(100% - 80px);
}

.input-contact {
    outline: none;
    padding: 4px 16px;
}

.center-icon {
    height: 80px;
    width: 80px;

    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);

    outline: 3px solid white;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9999px;
}

.input-container {
    border-bottom: 1px solid lightgray;
}